@import '../styles/css-variables.scss';

body {
    background-color: var(--color-background-gray);
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}