.search-bar {
    width: 80vw;
    margin: 2rem;
    
    form .search-bar-input {
        background-color: var(--color-light-gray-2);
        width: 100%;
        border: none;
        padding: 10px 0 10px 20px;
        color: #ffffff;
        border-radius: 25px;
        font-weight: 300;
        // color: var(--color-text-light-gray);
        outline: none;
    }
}
